.sidebar {
    background-color: white; /* dark background */
    color: white;
    height: 100vh;
    transition: width 0.3s;
    overflow: hidden;
  }
  
  .sidebar.expanded {
    width: 200px;
  }
  
  .sidebar.collapsed {
    width: 60px;
  }
  
  .hamburger {
    padding: 1rem;
    cursor: pointer;
    color: black;
    margin-top: 7px;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
  
  .nav-item .icon {
    font-size: 18px;
    color: black; /* make icon black */
  }
  

  .sidebar.expanded .nav-item .icon {
    margin-right: 1rem;
  }
  
  .sidebar.collapsed .text {
    display: none;
  }
  