.EmailTab{
    border: 1px solid rgb(206, 205, 205);
    padding: 20px;
}
.EmailTab-Topbar{
    display: flex;
    justify-content: space-between;
}
.EmailTab-SendField label{
    font-size: 14px;
}
.EmailTab-SendField input{
    width: 20rem;
}

.EmailTab-BottomTab-Heading{
    display: flex;
    align-items: center;
    gap: 45px;
    margin-top: 20px;
}

.EmailTab-BottomTab-Checkbox{
    display: flex;
    align-items: center;
    gap: 4rem;
   
}
.EmailTab-BottomTab-Input{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}