.law-firm-container {
  padding: 24px;
  position: relative;
  font-family: Arial, sans-serif;
}

.law-firm-header {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 16px;
}


.law-firm-loading,
.law-firm-error {
  padding: 16px;
  font-size: 16px;
}

.law-firm-error {
  color: red;
}

.table-wrapper {
  overflow-x: auto;
}

.law-firm-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  font-size: 14px;
}

.law-firm-table th,
.law-firm-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.law-firm-table thead {
  background-color: #f0f0f0;
}

.law-firm-actions {
  display: flex;
  justify-content: center;
  gap: 8px;
}
