.Arbitrator-Hearing-topcontent-container {
    border: 1px solid #c3c2c2;
    margin-top: 20px;
    border-radius: 10px;
}
.Arbitrator-Hearing-topcontent-heading{
    padding: 10px 20px;
    border-bottom: 1px solid #c3c2c2;
}
.Arbitrator-Hearing-topcontent-heading h5{
    margin-bottom: 0px;
    font-size: 16px;
}

.Arbitrator-Hearing-topcontent {
    display: flex;
    padding: 30px;
    align-items: start;
    justify-content: center;
}

.Arbitrator-Hearing-topcontent-leftside {
    padding: 35px 20px;
    border: 1px solid #c3c2c2;
    width: 65%;
    border-radius: 10px;
    background-color: #fafafa;
}

.Arbitrator-Hearing-form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.Arbitrator-Hearing-form-row-content{
    width: 50%;
}
.Arbitrator-Hearing-form-group{
    width: 50%;
}

.Arbitrator-Hearing-topcontent-rightside {
    width: 19%;
    text-align: center;
}

.Arbitrator-Hearing-Bottom-btn{
    text-align: center;
    margin-top: 20px;
}