.CriminalComplaintContent-content-container{
    margin-top: 30px;
    background-color: #ffffff;
    padding: 22px 35px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.CriminalComplaintContent-resuable-content{
    padding: 0px 40px;
    margin-top: 20px;
}