.reportcasesbtn{
  background: none;
  border: none;
  font-size: 20px;
}
  
.reportCasesexport-btn{
  background-color: #3e3eed;
    color: #06f706;
}

.reportnoticebtn{
  background: none;
  border: none;
  font-size: 18px;
}